<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto+Slab|Dosis' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://interaktiv.smp.no/2014/Festivaler/main.css"/>
    <link rel="shortcut icon" type="image/png" href="http://interaktiv.smp.no/2014/Festivaler/images/favF.png"/>

    <meta charset="utf-8">
    
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2">
    </script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js">
    </script>
    
    </script>

    <!--  Mobilview først-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">
            Toggle navigation
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          
          <span class="icon-bar">
          </span>
        </button>
        <a class="navbar-brand" href="http://www.smp.no" target="_blank">
          <img src="http://interaktiv.smp.no/2014/Festivaler/images/S.png">
        </a>
        
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#guide">
              FESTIVALGUIDEN
            </a>
          </li>
          <li>
            <a href="#velg">
              VELG
            </a>
          </li>
          <li>
            <a href="#alle">
              OVERSIKT
            </a>
          </li>
          <li>
            <a href="#om">
              OM
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  
  
  
  <!--Body start-->
  <body style= "background-color:#fffff;padding-top:70px;font-family:Dosis;font-size:2.5em;">
    <div class="container">
      <!--Annonse
      <div>
        <p style="font-size:0.75em;color:grey">Annonse</p>
        <img  class="displayed" width="100%"src="http://interaktiv.smp.no/2014/Festivaler/images/Annonse.jpg" />
      </div>
      <br> -->
      <!--Logo start-->
 <!--     <div align="center">
        
        <a name="guide"></a>
        <br>
        <img width="100%" src="http://interaktiv.smp.no/2014/Festivaler/images/briller.jpg">
        <img width="60%"src="http://interaktiv.smp.no/2014/Festivaler/images/logoB.png">
        <p class="overskrift">
          Finn festivalen i Nordvest som passer for deg!
        </p>
      </div>-->
<div class="h2-break">
  <img class="logoB" src="http://interaktiv.smp.no/2014/Festivaler/images/logoB.png">
</div>

 <hr>
      <div class="h2-break">
        <span> VELG HVA DU VIL HA: </span>
      

<p>
  <button type="button" class="btn btn-warning btn-lg knapp">MAI</button>
  <button type="button" class="btn btn-warning btn-lg knapp">JUNI</button>  
  <button type="button" class="btn btn-warning btn-lg knapp">JULI</button>  
  <button type="button" class="btn btn-warning btn-lg knapp">AUGUST</button>
  <button type="button" class="btn btn-danger btn-lg knapp">MUSIKK</button>  
  <button type="button" class="btn btn-danger btn-lg knapp">TEATER</button>
  <button type="button" class="btn btn-danger btn-lg knapp">REVY</button>
  <button type="button" class="btn btn-danger btn-lg knapp">HUMOR</button>  
  <button type="button" class="btn btn-danger btn-lg knapp">BYGDEFESTIVAL</button>  
    <button type="button" class="btn btn-success btn-lg knapp">GRATIS</button>
  <button type="button" class="btn btn-success btn-lg knapp">OPP TIL 500 kr.</button>
  <button type="button" class="btn btn-success btn-lg knapp">FRA 500-1.000 kr.</button>  
  <button type="button" class="btn btn-success btn-lg knapp">OVER 1.000 kr.</button>  
  <button type="button" class="btn btn-success btn-lg knapp">FESTIVALPASS</button>
  <button type="button" class="btn btn-info btn-lg knapp">BARNEVENNLIG FESTIVAL</button>  
  <button type="button" class="btn btn-info btn-lg knapp">FESTIVALCAMP</button>  
  <button type="button" class="btn btn-info btn-lg knapp">TILBYR TRANSPORT</button>
  <button type="button" class="btn btn-info btn-lg knapp">TILRETTELAGT FOR FUNKSJONSHEMMEDE</button>  
  <br>   <button type="button" class="btn btn-primary btn-lg knapp">VIS ALLE</button>

</p>

<hr>
        <!---Start liste-->
    <div class="container marketing">
      <div class="row">


 {% for obj in object_list %}
                  <div class="col-lg-4">
                  <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/{{obj.id}}.jpg" style="width: 140px; height: 140px;">
                  <h3>{{ obj.name }}</h3>
                  <p><a class="btn btn-default" href="{{ obj.id }}" role="button">Les mer »</a></p>
              </div>
  {% endfor %}
      </div><!-- /.row -->
    </div> <!-- /.container marketing-->


         <div id="map" style="width:100%; height:500px;"></div>

    <!--End liste-->
      </div>

 
      </div>
 


        <script type="text/javascript">
            var map = L.map('map').setView([62.480906, 6.464081], 8);
            var mapquestLayer = new L.TileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: '',subdomains: ['otile1','otile2','otile3','otile4']
            });
            map.addLayer(mapquestLayer);
            var data = {
              "type": "FeatureCollection",
              "features": [
                /* list python start */
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "festival": "{{ obj.festival }}",
                    "id": "{{ obj.id }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.x }}, {{ obj.y }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
                /* list python end */
              ]
            };
             var dataLayer = L.geoJson(data, {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(
                        '<a href="' + feature.properties.id + '/">' +
                            feature.properties.full_name +
                        '</a>'
                    );
                }
            });
            map.addLayer(dataLayer);
        </script>

        <!--pym.js-script!-->

    </body>
</html>